* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  border: 0.794239px solid #DBDEF0;
  transform: rotate(-0.05deg);
}

.App {
  background-color: #F5F7FB;
  min-height: 100vh;
}

.start {
  font-family: Inter;
  color: #293264;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.start--title {
  margin: 0;
}

.start--description {
  font-weight: 400;
  font-size: 16px;
}

.start--btn {
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
}

.start--btn:active {
  box-shadow: 1px 1px 2px black;
}

.questions {
  padding: 50px 80px;
}

.q {
  font-family: Karla;
  font-weight: 700;
}

.q-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q--title {
  font-size: 20px;
  padding: 10px 5px 0px 5px
}

.q--answers {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

.q--answer {
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  min-width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  cursor: pointer;
}

.check-btn {
  background-color: #4D5B9E;
  border-radius: 10px;
  font-size: 16px;
  color: #F5F7FB;
  padding: 10px 22px;
  border: none;
}

.check-btn:active {
  border: solid black 2px;
}

.checked-title {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.checked-point {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
}
